#prenavbar{
    width: 100vw;
    height: 30px;
    background-color: white;
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px; 
   
}


#signin{
    display: inline-block;
    padding-left: 240px;
   
}
ul{
    list-style: none;
    display: inline;
    padding-left: 10px;
    
}
li{
    display: inline-block;
}
 .pre{
    height: 10px;
    width: 100px;
    border-left: 1px solid rgb(229, 229, 229);
    padding-left: 10px;
    padding-right: 5px;
    display: inline-block;
    line-height: 12px;  
}
#my{
    border: 0px;
}
  #daily{
      width: 68px;
  }
  #brand{
      width: 75px;
  }
#sell{
    height: 10px;
    width: 35px;
    border-right: 1px solid rgb(144, 144, 144);
    padding-left: 250px;
    display: inline-block;
    line-height: 12px;
    padding-top: 8px;

}

body{
    margin: 0px;
}
#cart{
    padding-left: 20px;
}
#navbar{
    width: 100vw;
    height: 110px;
    display: inline-block;
}
#main{
    width: 120px;
    height: 50px;
  display: inline-block
}
.inline{
    display: inline-block;
}
#shop{
    height: 36px;
    width: 75px;
}
#searchbar{
    width: 1050px;
    height: 50px;
    border: 2px solid black;
    vertical-align: middle;
}
#subsearch {
    margin-left: 600px;
    border-left: 1px solid gray;
    
}
#searchbutton{
    width: 136px;
    height: 50px;
    background-color: rgb(54, 101, 243)
}
#navbar3{
    width: 1400px;
    height: 30px;
    border-top: 1px solid black;
    text-align: center;
    margin-left: 200px;
}
#list3 li{
    padding: 9px;
}
body{
    text-align: center;
}
#herosection{
  
}
#hero{
    padding-right: 130px;
}