#prenavbar{
    width: 1248px;
    height: 30px;
    background-color: white;
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    
}


#signin{
    display: inline;
}
ul{
    list-style: none;
    display: inline;
    padding: ;
    
}
li{
    display: inline;
}
 .pre{
    height: 10px;
    width: 100px;
    border-left: 1px solid rgb(229, 229, 229);
    padding-left: 10px;
    padding-right: 5px;
    display: inline-block;
    line-height: 12px;
    
}

  #daily{
      width: 68px;
  }
  #brand{
      width: 63px;
  }


